.AboutUs {
    padding: 0 5% 0 5%;
}

.AboutUs .description {
    width: 70%;
    text-align: center;
    margin: 2% auto;
}

.AboutUs .description .Collapse {
    margin-bottom: 3%;
}

.AboutUs .description .no-collapse {
    margin-bottom: 3%;
}

