.logement {
    color: #FF6060;
}

.tags {
    display: flex;
}

.tags p {
    margin-right: 2%;
    background-color: #FF6060;
    color: white;
    padding: 5px;
    border-radius: 30%;
}

.collapse {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}