.logement {
    color: #FF6060;
}

.logement-title {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    align-items: center;
}

.logement-title-text p {
    margin-top: 0;
}

.logement-title-text h2 {
    margin-bottom: 0;
}

.rating {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    margin-right: 5%;
    margin-top: -8%;
}

.host {
    display: flex;
    align-items: center;
}

.host h3 {
    margin-right: 1em;
}
.host img {
     border-radius: 50%;
 }

.logement-tags-rate-container {
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.tags {
    display: flex;
}

.tags p {
    margin: 0 2% 0 0;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    min-width: 150px;
    text-align: center;

}

.collapse {
    padding: 0 7% 0 5%;
    display: flex;
    flex-flow: row nowrap;
    gap: 20%;
    margin-top: 2rem;
}

.collapse div {
    width : 100%;
}

.description p,
.equipement ul {
    background-color: #f6f6f6;
    font-size: 18px;
    font-family: MontserratMedium !important;
    color: #ff6060;
    height: auto;
    padding: 30px 15px;
    border-radius: 10px;
    font-weight: 400;
    display: list-item;
    list-style: none;
    margin: 0;
    width: 100%;
}

.equipements li {
    font-weight: 400;
    padding: 2px;
    margin-left: 20px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .logement-title {
        flex-direction: column;
        align-items: self-start;
    }
    .logement-title-text h2 {
        font-size: 18px;
    }
    .tags p {
        padding: 5px 20px;
        min-width: 0;
        border-radius: 5px;
        font-size: 10px;
    }
    .host {
        width: 30%;
        margin-right: 10%;
    }
    .host img {
        width: 30%;
    }
    .host h3 {
        font-size: 15px;
    }
    .rating{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 1%;
    }
    .rating .stars {
        margin-left: 6%;
    }
    .rating .stars img {
        width: 15%;
    }
    .collapse {
        display: block;
        width: 80%;
        margin-top: 1rem;
    }
    .collapse .description {
        margin-bottom: 5%;
    }

    .titre-Collapse h3 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 374px) {
    .carrousel-content {
        height: 235px;
    }
}