.card {
    text-align: center;
    margin-bottom: 15%;
}

.card img {
    width: 340px;
    height: 340px;
    border-radius: 4%;
    object-fit: cover;
}

.card p {
    text-align: left;
    position: absolute;
    margin-left: 1%;
    width: 250px;
    margin-top: -3%;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .card p {
        text-align: left;
        position: absolute;
        margin-left: 7%;
        width: 250px;
        margin-top: -12%;
        font-size: 16px;
        line-height: 20px;
        color: white;
    }
}
@media only screen and (max-width: 374px) {
    .card p {
        text-align: left;
        position: absolute;
        margin-left: 7%;
        width: 250px;
        margin-top: -12%;
        font-size: 16px;
        line-height: 20px;
        color: white;
    }
}