.carrousel {
    padding: 2% 5% 2% 5%;
}

.carrousel-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.carrousel-content {
    height: 415px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}
